COMPOSE_PROJECT_NAME=pxs
COMPOSE_HTTP_TIMEOUT=300

# For local
COMPOSE_FILE=docker-compose.yml:./env/local.yml

# For Developement Server
# COMPOSE_FILE=docker-compose.yml:./env/dev.yml

# For Production Server
# COMPOSE_FILE=docker-compose.yml:./env/prod.yml
